# List

Q1: how to declare a list

List is declared by square bracket ie [ ]

In [1]:
lst1 = [5,6,3, "peron"]
lst1

[5, 6, 3, 'peron']

In [2]:
#Que 2:
lst2 =["apple,", "banana", "cherry", "strawberry", "mango"]
lst2

['apple,', 'banana', 'cherry', 'strawberry', 'mango']

In [3]:
lst3 = ["apple", 12, 15.63, (4, 5, 63 , 1), False, [5, 3, 6, 15], {5, 7, 8, 1, 3, 6}, {1:"one", 2:"two", "name":"khushbu"}]
lst3

['apple',
 12,
 15.63,
 (4, 5, 63, 1),
 False,
 [5, 3, 6, 15],
 {1, 3, 5, 6, 7, 8},
 {1: 'one', 2: 'two', 'name': 'khushbu'}]

In [4]:
lst4 = ["apple,", "banana", "cherry", "strawberry", "mango"]
"mango" in lst4

True

In [5]:
lst5 = ["khushbu", 26, 15.36, "shahare", 12+3j]
lst5[2]

15.36

In [6]:
lst2 = [5, 3, 4, 8, 9, 6, 2, 1, 5, 6]
lst2[3:5]

[8, 9]

In [7]:
lst7 = ["khushbu", 26, 15.36, "shahare", 12+3j]
lst7.append("inside_aiml")
lst7

['khushbu', 26, 15.36, 'shahare', (12+3j), 'inside_aiml']

In [8]:
lst8 = ["apple", "banana", 78, "inside_aiml", 89.45, 23]
# to access inside_aiml
lst8[-3]

'inside_aiml'

In [9]:
# to acess 89.23
lst8[-2]

89.45

In [10]:
# to acess 23
lst8[-1]

23

# Tuple

In [11]:
#Once tupple is created we can not manipulate it but list can be manipulate at any time.

In [12]:
#tupple is declared by round bracket only
tup1 = ("khushbu", 56, "apple")
tup1

('khushbu', 56, 'apple')

In [13]:
tup2 = ("khushbu", 36, 78.36, 2+6J, True)
tup2

('khushbu', 36, 78.36, (2+6j), True)

In [14]:
tup3 = (8, 6, 3, 1, 5, 9, 6, 3, 2, 1, 5)
tup3[5]

9

In [15]:
tup5 = ("khushbu", 36, 78.36, 2+6J, True, "shahare", "inside_aiml", 50)
tup5[3]

(2+6j)

In [16]:
tup5[-4]

True

In [17]:
tup6 = ("khushbu", 36, 78.36, 2+6J, True, "shahare", "inside_aiml", 50)
"inside_aiml" in tup6

True

In [18]:
tup7 = ("khushbu", 36, 78.36, 2+6J, True, "shahare", "inside_aiml", 50)
tup7[2:6]

(78.36, (2+6j), True, 'shahare')

In [19]:
tup8 = ("khushbu", 36, 78.36, 2+6J, True, "shahare", "inside_aiml", 50)
len(tup8)

8

In [20]:
tup9 = (100, 200, 300)
print(f"This is a tuple {tup9}")

This is a tuple (100, 200, 300)

# Set

In [21]:
# set is always created in curly bracket with minimum one element in it
s1 = {"khushbu", True}
s1

{True, 'khushbu'}

In [22]:
s3 = {5,3,6,9,8, "banana", "apple"}
s3.add( "straberry")
s3

{3, 5, 6, 8, 9, 'apple', 'banana', 'straberry'}

In [23]:
s4 = {5,3,6,9,8, "banana", "apple"}
s4.remove("banana")
s4

{3, 5, 6, 8, 9, 'apple'}

In [24]:
s5 = {"school", "college", "students", "teacher", 500, 43}
s5.remove("college")
s5

{43, 500, 'school', 'students', 'teacher'}

In [25]:
s5 = {"school", "college", "students", "teacher", 500, 43}
s5.discard(500)

In [26]:
s5

{43, 'college', 'school', 'students', 'teacher'}

In [27]:
s6 = {8,3,6,9,25,16,46,21,78}
min(s6)

3

In [28]:
max(s6)

78

In [29]:
s7 = {8,3,6,9,25,16,46,21,78,5,3,6,9,8,4,2}
len(s7)

12

In [30]:
s8 = {"school", "college", "students", "teacher", 500, 43}
"teacher" in s8

True

# Dictionary

In [31]:
dct1 = {1:"one", 2:"two", 3:"three"}
dct1["b"]="banana"
dct1

{1: 'one', 2: 'two', 3: 'three', 'b': 'banana'}

In [32]:
dct2 = {"a":"apple", "b":"banana", 43:["four","ten", "fifty"]}
43 in dct2

True

In [33]:
dct3 = {"a":"apple", "b":"banana", 43:["four","ten", "fifty"]}
dct3.pop("b")
dct3

{'a': 'apple', 43: ['four', 'ten', 'fifty']}

In [34]:
dct4 = {}
dct4[3] = 5
dct4["peron"] = "khushbu"
dct4["colour"] = "black"
dct4[9] = "nine"
dct4["fifty"] = 50
dct4

{3: 5, 'peron': 'khushbu', 'colour': 'black', 9: 'nine', 'fifty': 50}

In [35]:
dct5 ={"sky":"blue", "tree":"green", "laptop":"dell"}
dct5["person"] = 'brave'
dct5

{'sky': 'blue', 'tree': 'green', 'laptop': 'dell', 'person': 'brave'}

In [36]:
dct6 = {'sky': 'blue', 'tree': 'green', 'laptop': 'dell', 'person': 'brave'}
print(dct6.keys())

dict_keys(['sky', 'tree', 'laptop', 'person'])

In [37]:
dct7 = {'sky': 'blue', 'tree': 'green', 'laptop': 'dell', 'person': 'brave'}
print(dct7.values())

dict_values(['blue', 'green', 'dell', 'brave'])

In [38]:
dct8 = {"name":["khushbu", "harshal", "manasvi"], "person":["brave", "talented","kind"], "fruit":["apple","banana", "pineapple, mango"] }
dct81 = {"Yob":(1997,1998,1996), "key":{"good":"bad","black":"white",2:4}, 3:[3,6,9,12,15]}
dct8

{'name': ['khushbu', 'harshal', 'manasvi'],
 'person': ['brave', 'talented', 'kind'],
 'fruit': ['apple', 'banana', 'pineapple, mango']}

# Variable

In [39]:
str_var = "Inside_aiml"
i = 116
flt_var = 26.45
boolian = True
comp = 3 +5j

print(str_var)
print(i)
print(flt_var)
print(boolian)
print(comp)

Inside_aiml
116
26.45
True
(3+5j)

In [40]:
print(f" Declared variable are [{str_var}, {i}, {flt_var}, {boolian}, {comp}]")

 Declared variable are [Inside_aiml, 116, 26.45, True, (3+5j)]

In [41]:
name = input("Enter your name :")
print(name)

Enter your name :khushbu
khushbu

In [42]:
a = 20
a += 10
a

30

In [43]:
Num = 10
Num + 10
Num

10

In [44]:
name = "Khushbu"
id_no = 23654
CGPA = 9.2
print(f"Hello, my name is {name}, my id number is {id_no} and my CGPA is {CGPA}")

Hello, my name is Khushbu, my id number is 23654 and my CGPA is 9.2