In [1]:
# conditional statement

In [2]:
# Que :1
num = int(input("Enter the number :"))
if num % 2 == 0:
    print("Entered number is even ")
else :
    print("Entered number is odd ")

Enter the number :5
Entered number is odd

In [3]:
# Que :2
num_list = [1, 2, 5, 6, 9, 18, 7, 4, 5, 3, 42, 15, 36, 99, 78, 63, 12, 65, 14, 55, 26]
count_even = 0
count_odd = 0
for i in num_list :
    if i % 2 == 0:
        count_even += 1

    if i % 2 == 1 :
        count_odd += 1 
print("Length of num_list is :", len(num_list))
print("Total even numbers in num_list are :", count_even)
print("Total odd numbers in num_list are :", count_odd)

Length of num_list is : 21
Total even numbers in num_list are : 10
Total odd numbers in num_list are : 11

In [4]:
# Que :4
NAME = input("what is your name :")
if NAME == "Bond" :
    print("Welcome on bond 007.")
else :
    print(f"Good morning {NAME}")

what is your name :khushbu
Good morning khushbu

In [5]:
# Que : 5
l = []
num1 = int(input("enter first number :"))
l.append(num1)
num2 = int(input("enter second number :"))
l.append(num2)
num3 = int(input("enter third number :"))
l.append(num3)
num4 = int(input("enter forth number :"))
l.append(num4)

print(l)
print("max of all four number is :", max(l))

enter first number :8
enter second number :6
enter third number :9
enter forth number :2
[8, 6, 9, 2]
max of all four number is : 9

In [6]:
# Que : 5
a =int(input("Enter num1 :"))
b =int(input("Enter num2 :"))
c =int(input("Enter num3 :"))
d =int(input("Enter num4 :"))

if a>b and a>c and a>d :
    print(f"num1 {a} is largest number out of four numbers {a},{b},{c},{d}")
elif b>a and b>c and b>d:
    print(f"num2 {b} is largest number out of four numbers {a},{b},{c},{d}")
elif c>a and c>b and c>d:
    print(f"num3 {c} is largest number out of four numbers {a},{b},{c},{d}")
elif d>a and d>b and d>c:
    print(f'num4 {d} is largest number out of four numbers {a},{b},{c},{d}')

Enter num1 :8
Enter num2 :6
Enter num3 :3
Enter num4 :9
num4 9 is largest number out of four numbers 8,6,3,9

In [7]:
#Que :6
physics_marks = int(input("Enter the marks obtained in physics :"))
if physics_marks > 50:
    print("Congratulations....You will get new cycle")

Enter the marks obtained in physics :89
Congratulations....You will get new cycle

In [8]:
maths_marks = int(input("Enter the marks obtained in maths :"))
if maths_marks > 60:
    print("Congratulations....You will get new cycle")
    
else :
    print("No pocket money")

Enter the marks obtained in maths :78
Congratulations....You will get new cycle

In [9]:
# Que : 8
maths_marks = int(input("Enter the marks obtained in maths :"))
science_marks = int(input("Enter the marks obtained in science :"))
english_marks = int(input("Enter the marks obtained in english :"))

if maths_marks > 80 :
    if science_marks >= 70 :
        if english_marks >= 90 :
            print("You will get an ipad")
        else :
            print("You will get nothing")
    else :
        print("You will get nothing")
else :
    print("You will get nothing")

Enter the marks obtained in maths :89
Enter the marks obtained in science :56
Enter the marks obtained in english :86
You will get nothing

In [4]:
# loops

In [10]:
#que :1.1
for i in range(11) :
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [11]:
# Que :1.2
a = "hello world"
for i in range(5) :
    print(a)

hello world
hello world
hello world
hello world
hello world

In [12]:
# Que :1.3
for i in range(2,21) :
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [13]:

# Que :1.4
for i in range(5,56,10) :
    print(i)

5
15
25
35
45
55

In [14]:
# Que :2
lst = [5,2,6,3,9,8,7,4,1] 
for i in range(len(lst)) :
    print(lst[i])

5
2
6
3
9
8
7
4
1

In [15]:
# Que :3
fruit_list = ["apple", "banana", "grapes", "oranges"]
for i in fruit_list :
    if i == "banana" :
        print("banana is available")
    else :
        print(i)

apple
banana is available
grapes
oranges

In [16]:
#Que :6
for i in range(101) :
    if i == 12 :
        break
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [17]:
#Que :7
for i in range(11) :
    if i == 7 :
        continue 
    print(i)

0
1
2
3
4
5
6
8
9
10

In [18]:
#Que :8
name_list = ['Prerana', "Khushbu", "Kshitija", "Manasvi", "Indrayani"]
for i in range(len(name_list)) :
    print(f"index is {i} and corresponding item is {name_list[i]}")

index is 0 and corresponding item is Prerana
index is 1 and corresponding item is Khushbu
index is 2 and corresponding item is Kshitija
index is 3 and corresponding item is Manasvi
index is 4 and corresponding item is Indrayani

In [19]:
#Que : 9
for i in range(21) :
    if i % 2 == 0:
        print(f"number {i} is even")
    if i % 2 == 1:
        print(f"number {i} is odd")

number 0 is even
number 1 is odd
number 2 is even
number 3 is odd
number 4 is even
number 5 is odd
number 6 is even
number 7 is odd
number 8 is even
number 9 is odd
number 10 is even
number 11 is odd
number 12 is even
number 13 is odd
number 14 is even
number 15 is odd
number 16 is even
number 17 is odd
number 18 is even
number 19 is odd
number 20 is even

In [20]:
# Que :4
total_marks = int(input("enter your total marks :"))
if total_marks > 60 :
    for i in range(5) :
        print("salute")
else :
    for i in range(5) :
        print("punishment")

enter your total marks :89
salute
salute
salute
salute
salute

In [22]:
# Que :5
maths_marks = int(input("enter your mathematics marks :"))
science_marks = int(input("enter your science marks :"))
english_marks = int(input("enter your english marks :"))

if maths_marks > 80 :
    if science_marks >= 70 :
        if english_marks >= 90 :
            a = int(input("how many times you want me to salute you :"))
            for i in range(a) :
                print("salute")
        else :
            print("i won't salute you")
    else :
        print("i won't salute you")
else :
    print("i won't salute you")

enter your mathematics marks :89
enter your science marks :89
enter your english marks :96
how many times you want me to salute you :5
salute
salute
salute
salute
salute

In [24]:
#Que :2
actual_num = 7
attempts = 0
while True:
    attempts += 1
    guess_num = int(input("Guess the number :"))
    if actual_num < guess_num :
        print("Try lower number")
    elif actual_num > guess_num :
        print("Try higher number")
    else :
        print(f"Congratutations... You have guessed correct number in {attempts} attempts")
        break

Guess the number :89
Try lower number
Guess the number :70
Try lower number
Guess the number :50
Try lower number
Guess the number :4
Try higher number
Guess the number :7
Congratutations... You have guessed correct number in 5 attempts

In [25]:
# Que :3
fruit_list = ["apple", "banana", "grapes", "oranges"]
for i in fruit_list :
    if i == "banana" :
        print("banana is available")
    else :
        print(i)

apple
banana is available
grapes
oranges

In [26]:
# Que :1.2
a = "hello world"
for i in range(5) :
    print(a)

hello world
hello world
hello world
hello world
hello world

In [27]:
# Que :4
total_marks = int(input("enter your total marks :"))
if total_marks > 60 :
     for i in range(5) :
             print("salute")
else :
     for i in range(5) :
             print("punishment")

enter your total marks :63
salute
salute
salute
salute
salute

In [12]:
for i in range(5,56,10) :
    print(i)

5
15
25
35
45
55

In [2]:
lst = [5,2,6,3,9,8,7,4,1]
for i in range(len(lst)) : print(lst[i])

5
2
6
3
9
8
7
4
1